.card1 {
  height: 300px;
  background-color: #98b2d1;
}
.card2 {
  height: 300px;
  background-color: #c74375;
}
.textTitle {
  text-align: center;
}
.card3 {
  height: 300px;
  background-color: #bf1932;
}
.card4 {
  height: 300px;

  background-color: #7bc4c4;
}
.card5 {
  height: 300px;

  background-color: #e2583e;
}
.card6 {
  height: 300px;

  background-color: #53b0ae;
}
